
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background: linear-gradient(to right, #065f46, #047857);
    color: white;
  }
  
  .hero-content {
    max-width: 45%;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  
  .highlight {
    color: #facc15; /* Yellow */
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hero-buttons button {
    margin-right: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .shop-btn {
    background-color: #facc15;
    color: #000;
    font-weight: bold;
  }
  
  .guide-btn {
    background: none;
    border: 1px solid white;
    color: white;
  }
  
  .hero-rating {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  
  .avatars img {
    border-radius: 50%;
    border: 2px solid white;
    margin-right: -10px;
    width: 40px;
  }
  
  .hero-rating p {
    margin: 0 0 0 1rem;
  }
  
  .hero-image {
    position: relative;
    max-width: 50%;
  }
  
  .main-img img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
  }
  
  .badge {
    position: absolute;
    background: white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
  }
  
  .badge-right {
    top: 10px;
    right: -30px;
  }
  
  .badge-left {
    bottom: -20px;
    left: -20px;
  }
  
  .badge img {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  